h1{
    text-align: center;
    font-style: oblique;
    color:indianred;
}

.container{
    display:flex;
    justify-content: space-around;
}

.boxing {
    width: 200px;
    height: 200px;
    border: 20px solid green; /* corrected border property */
    padding: 50px;
    margin: 20px 5px;
    text-align: center;
    font-style: oblique;
    color: burlywood;
    background-color: antiquewhite;
}



.boxlogin {
    width: 200px;
    height: 200px;
    border: 20px solid green; /* corrected border property */
    padding: 50px;
    margin: 20px 5px  ;
    text-align: center;
    font-style: oblique;
    color: burlywood;
    background-color: antiquewhite;
}


body{
    background-color:tan;
}