.hospitallogin{
    width: 400px;
    height: 200px;
    border: 20px solid green; /* corrected border property */
    padding: 50px;
    margin: 20px  auto ;
    text-align: center;
    font-style: oblique;
    color: burlywood;
    background-color: antiquewhite;

}